import jenkins.model.*
import java.util.logging.Logger

import java.nio.file.Files
import java.nio.file.Path
import java.nio.file.Paths


def user = hudson.model.User.get("{{ cj_local_admin_users[0].username }}")
def keys = null

def home = System.getProperty("user.home")
def new_key = new String(Files.readAllBytes(Paths.get(home + "/.ssh/id_rsa.pub")))

def keysProperty = user.getProperty(org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl)

if(keysProperty != null) {

  if (keysProperty.authorizedKeys.contains(new_key)) {
     println ("The key is added already...")
  } else {

        println ("Found: " + keysProperty.authorizedKeys.getClass())
        if (keysProperty.authorizedKeys.length() > 0) {
            keysProperty.authorizedKeys = keysProperty.authorizedKeys + '\n'
        }
        keysProperty.authorizedKeys = keysProperty.authorizedKeys + new_key
  }


} else {

  keysProperty = new org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl(new_key)
  user.addProperty(keysProperty)

}
user.save()
println(keysProperty.authorizedKeys)
