import jenkins.model.*
import hudson.model.*
import hudson.slaves.*
import hudson.plugins.sshslaves.*
import java.util.ArrayList;

def newNodes = [];
//def need_update=0

Jenkins jenkins = Jenkins.instance

{% for new_node in cj_nodes %}

{{ new_node.name }}: {
    def need_update=0
    for (Node node in jenkins.nodes) {
      if ("$node.nodeName" == "{{ new_node.name }}") {
         need_update=1
         continue;
      }
    }
    {% if new_node.launcher_type == 'ssh' %}
    ComputerLauncher launcher = new SSHLauncher("{{ new_node.host }}", {{ new_node.ssh_port }} , "{{ new_node.credential_id }}", "","","","",  0,0,0)
    {% else %}
    ComputerLauncher launcher = new JNLPLauncher()
    {% endif %}
    Slave slave = new DumbSlave(
                    "{{ new_node.name }}",
                    "{{ new_node.description }}",
                    "{{ new_node.home }}",
                    "{{ new_node.executors }}",
                    Node.Mode.NORMAL,
                    "{{ new_node.labels }}",
                    launcher,
                    new RetentionStrategy.Always(),
                    new LinkedList())
    if (need_update==1) {
      jenkins.updateNode(slave)
    } else {
      jenkins.addNode(slave)
    }
}
{% endfor %}

jenkins.save()

