<proxy>
  <name>{{ cj_proxy_host }}</name>
  <port>{{ cj_proxy_port }}</port>
  <noProxyHost>{% for host in cj_no_proxy_hosts%}
{{ host }}
{% endfor %}
  </noProxyHost>
  <testUrl>https://updates.jenkins-ci.org/update-center.json</testUrl>
</proxy>